<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head"></head>
<body>
<div th:replace="/layout::header"></div>
<br>
<br>
<form method="post">
    <fieldset >
        <legend>Cập nhật thông tin khách hàng</legend>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">ID</label>
            <input type="text" name="id" id="disabledTextInput" class="form-control" disabled th:value="${customer.getId()}">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">NAME</label>
            <input type="text" name="name"  class="form-control" th:value="${customer.getName()}">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">EMAIL</label>
            <input type="text" name="email"  class="form-control" th:value="${customer.getEmail()}">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">ADDRESS</label>
            <input type="text" name="address"  class="form-control" th:value="${customer.getAddress()}">
        </div>

        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </fieldset>
</form>
<div th:replace="/layout::footer"></div>
</body>
</html>